@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");

.skill-content {
  /*  width: 100%; */
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: #f6b1b1 1rem solid;
  font-family: "Istok Web", sans-serif;
}

.title {
  margin-bottom: 1rem;
  font-family: "Istok Web", sans-serif;
}

.description {
  text-align: center;
  font-family: "Istok Web", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tool-box {
  text-align: center;
  margin-top: 3rem;
  background-color: #f6b1b1;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tools {
  display: flex;
  flex-direction: row;
}

.tool {
  margin: 1rem;
}

.expert-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

.expert-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.expert-pic-div {
  display: flex;
  justify-content: center;
  width: 50%;
}

.expert-pic {
  background-color: #f6b1b1;
  border-top-left-radius: 30%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: -20%;
  padding: 1rem;
}

.expert-desc {
  margin: 1rem;
  width: 50%;
  text-align: left;
}

@media (max-width: 700px) {
  .expert-box {
    display: flex;
    flex-direction: column;
  }
  .NameOnExpert {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 650px) {
  .expert-description {
    flex-wrap: wrap;
    margin: 1rem;
  }
  .expert-desc {
    text-align: center;
    align-items: center;
  }
  .expert-desc p {
    text-align: center;
  }
}
