.container {
  display: flex;
  width: 100%;
  background-color: black;
}

.buttons {
  font-size: 2rem;
  width: 20%;
}

.skill {
  width: 80%;
}

.scrumMaster {
  background-color: black;
  color: white;
  border: 0.2rem solid #23be99;
  height: 2rem;
  width: 80%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.Designer {
  background-color: black;
  color: white;
  border: 0.2rem solid #23be99;
  height: 2rem;
  width: 80%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.Developer {
  background-color: black;
  color: white;
  border: 0.2rem solid #23be99;
  height: 2rem;
  width: 80%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.Developer:hover {
  width: 100%;
  background-color: #23be99;
}
.Designer:hover {
  width: 100%;
  background-color: #23be99;
}
.scrumMaster:hover {
  width: 100%;
  background-color: #23be99;
}

@media (max-width: 910px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .skill {
    width: 100%;
  }
}
