.contactForm {
    width: 50vw;
    height: 50vh;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.contactMember {
    margin-bottom: 2rem !important;
}

.textfield_label {
    color: white !important;
}

.center {
    margin-left: auto !important;
    margin-right: auto !important;
}

.center:hover {
    background-color: #1b6856;
}