.galleryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10rem;
}

h3 {
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}

.rollsBoxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.galleryLink {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid #23be99;
  text-transform: uppercase;
}

.divLink {
  width: 300px;
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: -1px 0px 10px -2px rgb(59, 59, 59);
}

@media screen and (max-width: 1024px) {
  button {
    width: 170px;
  }
  .rollsBoxes {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }

  .divLink {
    width: 400px;
  }
}

@media screen and (max-width: 640px) {
  button {
    width: 250px;
    margin-bottom: 2rem;
  }

  .divLink {
    width: 300px;
  }
}
