.galleryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5rem;
}

h3 {
  color: white;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px;
  border-bottom: 1px solid #23be99;
}

.rollsBoxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  position: relative;
}

.galleryLink {
  text-decoration: none;
  color: white;
  background: #23be99;
  padding: 1rem;
  text-transform: uppercase;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.galleryLink:hover {
  transform: scale(1.1);
}

.divLink {
  width: 350px;
  height: 250px;
  background-color: black;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: -1px 0px 10px -2px rgb(59, 59, 59);
}

.utvecklare {
  width: 350px;
  height: 250px;
}

@media screen and (max-width: 1024px) {
  button {
    width: 170px;
  }
  .rollsBoxes {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
  }

  .divLink {
    width: 400px;
  }
}

@media screen and (max-width: 640px) {
  button {
    width: 250px;
    margin-bottom: 2rem;
  }

  .divLink {
    width: 300px;
  }
}
