.galleryContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10rem;
}

h3 {
  color: white;
  margin-bottom: 2rem;
}

.rollsBoxes {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

button {
  width: 200px;
}

@media screen and (max-width: 1024px) {
  button {
    width: 170px;
  }
}

@media screen and (max-width: 640px) {
  .rollsBoxes {
    display: flex;
    flex-direction: column;
  }

  button {
    width: 250px;
    margin-bottom: 2rem;
  }
}
