@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');

.header {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  z-index: 2;
  position: relative;
}

.header h1 {
  font-family: 'Goldman', cursive;
  font-size: 3rem;
  color: white;
}

.linksContainer {
  display: flex;
  align-items: center;
  /* margin: 1.5rem; */
}

.headerLink {
  text-decoration: none;
  margin: 2rem;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.signInButton {
  width: 8rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 10px;
  margin: 8px 8px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 1rem 2rem;
  }

  .headerLink {
    font-size: 1.5rem;
    text-shadow: -4px 2px 20px black;
  }
}
