@import url("https://fonts.googleapis.com/css2?family=Goldman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");

.header {
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  z-index: 2;
  position: relative;
}

.header h1 {
  font-family: "Goldman", cursive;
  font-size: 2rem;
  color: white;
}

.linksContainer {
  display: flex;
  align-items: center;
  /* margin: 1.5rem; */
}

.link {
  text-decoration: none;
  margin: 2rem;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.signInButton {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 8px 8px;
  border: none;
  border-radius: 20px;
}

@media screen and (max-width: 896px) {
  .header {
    padding: 1rem 2rem;
  }
}
