/* .startpage-background { */
  /* background-image: url('../Assets/Bg-image.png');
  background-size: cover; */
/*   display: flex;
  flex-direction: column;
}  */

/* .startpage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.vision {
  height: 50%;
}

.gallery {height: 25%;}

.map {height: 25%} */


