@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.visionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 10rem;
}

.visionTextContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.visionTextContainer h1 {
  margin: 0;
  padding-top: 1rem;
  font-size: 68px;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #23be99;
  font-size: 16px;
  margin: 0;
}

.visionText {
  width: 30rem;
  padding-bottom: 1rem;
  font-size: 15px;
}

button {
  color: white;
  background-color: black;
  border: 1px solid #23be99;
  padding: 1rem;
}
