@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.visionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
  margin-top: 10rem;
  margin-bottom: 8rem;
}

.visionTextContainer {
  display: flex;
  flex-direction: column;
  color: white;
}

.visionTextContainer h1 {
  margin: 0;
  padding-top: 1rem;
  font-size: 68px;
  font-family: "Roboto", sans-serif;
}

.visionTextContainer h2 {
  color: #23be99;
  font-size: 16px;
  margin: 0;
}

.bookingButton {
  width: 300px;
  color: white;
  border: 1px solid #000;
  font-weight: 800;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  background-size: 300% 300%;
  background-image: linear-gradient(
    to right,
    #003850 0%,
    #23be99 50%,
    #003850 100%
  );
  transition: 0.5s;
}

.bookingButton:hover {
  background-position: right center;
}

.visionText {
  width: 30rem;
  padding-bottom: 1rem;
  font-size: 15px;
}

@media screen and (max-width: 900px) {
  .visionContainer {
    margin-left: 0;
    align-items: center;
  }

  .visionText {
    width: 25rem;
  }
}

@media screen and (max-width: 400px) {
  .visionTextContainer {
    margin: 0 2rem;
  }
  .visionText {
    width: 20rem;
  }
}
