.skill-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: #9EC7EE 1rem solid;
}

.title {   
margin-bottom: 1rem;
}

.description {
    text-align: center;

}

.tool-box {
    text-align: center;
    margin-top: 3rem;
}

.tools {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    
}

.tool {
    margin: 1rem;
}


.expert-box {
    display: flex;
    flex-direction: column;
   align-items: center;
   width: 100%;
    margin-top: 3rem;
}

.expert-description {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    
}

.expert-pic-div {
    border: #9EC7EE .2rem solid;
    border-radius: 50%;
    margin: .5rem;
    width: 50%;
}

/* .expert-pic {
    background-size: cover;   
    background-image: url(../../../Assets/profile-picture.png);
} */

.expert-desc {
    margin: 1rem;
    width: 50%;
    text-align: left;
}